*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

input[type="text"]{
    background: white;
    color: black;
    text-align: left;
    box-shadow: 3px 3px 3px #415540;
    height: 33px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.8;
    border: 3px solid#0b5326;
    margin: 0.6rem;
}

body{
    background-color: #72DD6F;
    padding: 0;
    margin: center;
}

footer{
    background-color: #2251B2;
    padding: 10px;
    text-align: center;
    color: white;
}

/*Color palette
shadow : #00000033 and #00000030

#72dd6f
#C9F2C7,
#ACECA1,
#96BE8C, 
#629460,
#243119,
*/


