*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #72DD6F;
    padding: 0;
    margin: center;
}


.cabecalho{
    display: block;
    box-sizing: border-box;
    height: 90px;
}

.boxes{
    background-color: #3333;
    border-radius: 30px;
    position: static;
    padding: 4px;
}

footer {
    background-color: #2251B2;
    padding: 10px;
    text-align: center;
    color: white;
    }

/*Color palette
shadow : #00000033 and #00000030

#72dd6f
#C9F2C7,
#ACECA1,
#96BE8C, 
#629460,
#243119,
*/


