  /* Style the header */
  .Cabecalho {
    background-color: #2251B2;
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
    position: relative;
    align-items: center; 
    color: white;
    width: auto;
    height: 190px;
    overflow: hidden;
    }

    header{
      text-align: center;
      width : 100%;
      padding-left: 20px;
    }


    /*  display: flex;
  justify-content: center;
  align-items: center;*/
    img{
      width: 160px;
      height: 160px;
      padding: none;
      display: flex;
      float: left; 
      position: relative;
      margin-bottom: 160px;
      margin-left: -50px;
    }

.HProfile{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Helvetica;    
    position: relative;
    padding: 3rem;
  }

.miniHeader{
  list-style: none;
  position: relative;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  height: 8rem;
  margin-top:-40px;
  width: 100%;
  height: rem;
}

.Nome {
  text-align: center;
  font-family: Helvetica; 
  margin-left: 190px;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: visible;
}

.Photo{
  margin-top: -70px;
  margin-left: 20px;
  height: 150px;
  position: absolute;
  width: 150px;
  background-color: #bbb;
  border: 5px solid;
  border-color: #2251B2;
  border-radius: 50%;
  vertical-align: center;
}

body{
  background-color: white;
}



  /*EM => Elemente Master*/
/*REM -> Root Element Master*/

* {     /*Seletor universal*/
  box-sizing: border-box;
  font-family: Helvetica; 
  }
  
  html{
  margin: 0;
  padding: 0;
  }
  
  
  a { 
  color: black;
  text-decoration: none;
  
  }
  
  #primeiro-link a {
  color: #2251B2;
  }
  button {
  background-color: #2251B2;
  opacity: 0.5;
  color: aliceblue;
  text-align: center;
  font-family: sans-serif;
  border-radius: 0%;
  border-color: #2251B2;
  border-radius: 20px;
  }
  
  
  /* Create two columns/boxes that floats next to each other */
  nav {
  float: left;
  width: 30%;
  height: 100%;
  
  background: #ccc;
  padding: 20px;
  
  border-radius: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
  list-style-type: none;
  padding: 0;
  height: 37.2rem;
  width: 100%;
  
  border-radius: 20px;
  }
  
  article {
  float: left;
  padding: 20px;
  width: 70%;
  height: 41.7rem;
  background-color: #f1f1f1;
  
  border-radius: 20px;
  }
  
  section {
    position: relative;
    margin-top: -35px;
    background-color: #2251B2
  
  }
  
  /* Clear floats after the columns */
  section::after {
  background: #ccc;
  content: "";
  display: table;
  clear: both;
  
  border-radius: 20px;
  
  }
  
  /* Style the footer */
  footer {
  background-color: #2251B2;
  padding: 10px;
  text-align: center;
  color: white;
  position: static;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 100%) {
  nav, article 
  {

  width: 100%;
  height: 100%;
  }
  }
  
  .roudend-image{
  float:  left;
  height: 150px;
  width: 150px;
  background-color: #bbb;
  border: 3px solid;
  border-color: #0b5326;
  border-radius: 50%;
  display: inline-flex;
  vertical-align: center;
  }
  
  .MainText{
  width :100%;
  align-self: center;
  position: relative;
  Font-size: 45px;
  Font-family:Helvetica;
  }

  input[type="button"]{
    height: max-content;
    width: max-content;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid #2251B2;
    position: relative;
    text-align: center;
    padding: 5px;
}



input[type=submit] {
background: #0b5326;
color: white;
text-align: center;
opacity: 0.6;
}

input[type=text] {
background: white;
color: black;
text-align: left;
box-shadow: 3px 3px 3px #415540;
height: 33px;
font-family: 'Times New Roman', Times, serif;
opacity: 0.6;
border: 3px solid#0b5326;
margin-top: 8px;
margin-bottom: 8px;
}

input[type=email] {
background: white;
color: black;
text-align: left;
box-shadow: 3px 3px 3px #415540;
height: 33px;
font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
opacity: 0.6;
border: 3px solid#0b5326;
margin-top: 8px;
margin-bottom: 8px;
}